<launch>
    <!-- ROS parameters -->
    <param name="use_sim_time" value="true"/>

    <!-- Node name -->
    <arg name="node_name" default="mcl" />

    <!-- Input messages -->
    <arg name="scan_name" default="/scan" /> <!-- sensor_msgs::LaserScan -->
    <arg name="odom_name" default="/odom" /> <!-- nav_msgs::Odometry -->
    <arg name="map_name" default="/map" /> <!-- nav_msgs::OccupancyGrid -->

    <!-- Output messages -->
    <arg name="pose_name" default="/mcl_pose" /> <!-- geometry_msgs::PoseStamped -->
    <arg name="particles_name" default="/mcl_particles" /> <!-- geometry_msgs::PoseArray -->
    <arg name="unknown_scan_name" default="/unknown_scan" /> <!-- sensor_msgs::LaserScan -->
    <arg name="residual_errors_name" default="/residual_errors" /> <!-- sensor_msgs::LaserScan -->
    <arg name="reliability_marker_name" default="/reliability_marker_name" /> <!-- visualization_msgs::Marker -->

    <!-- Output messages from GL pose sampler -->
    <arg name="gl_sampled_poses_name" default="/gl_sampled_poses" /> <!-- geometry_msgs::PoseArray -->
    <arg name="local_map_name" default="/gl_local_map" /> <!-- nav_msgs::OccupancyGrid -->
    <arg name="sdf_keypoints_name" default="/gl_sdf_keypoints" /> <!-- visualization_msgs::Marker -->
    <arg name="local_sdf_keypoints_name" default="/gl_local_sdf_keypoints" /> <!-- visualization_msgs::Marker -->

    <!-- TF frames -->
    <arg name="laser_frame" default="scan" />
    <arg name="base_link_frame" default="base_link" />
    <arg name="map_frame" default="map" />
    <arg name="odom_frame" default="odom" />

    <!-- TF Broadcast Options -->
    <arg name="broadcast_tf" default="true" />
    <arg name="use_odom_tf" default="true" />

    <!-- MCL parameters -->
    <arg name="initial_pose_x" default="0.0" />
    <arg name="initial_pose_y" default="0.0" />
    <arg name="initial_pose_yaw" default="0.0" />

    <arg name="initial_noise_x" default="0.02" />
    <arg name="initial_noise_y" default="0.02" />
    <arg name="initial_noise_yaw" default="0.01" />

    <arg name="measurement_model_type" default="2" />
    <arg name="particle_num" default="1000" />
    <arg name="use_augmented_mcl" default="false" />
    <arg name="alpha_slow" default="0.001" />
    <arg name="alpha_fast" default="0.99" />
    <arg name="add_random_particles_in_resampling" default="true" />
    <arg name="random_particles_rate" default="0.1" />
    <arg name="use_omni_directional_model" default="false" />

    <!-- Scan rejection and unknown scan settings -->
    <arg name="reject_unknown_scan" default="false" />
    <arg name="publish_unknown_scan" default="true" />
    <arg name="unknown_scan_prob_threshold" default="0.9" />

    <arg name="publish_residual_errors" default="true" />
    <arg name="scan_step" default="5" />

    <!-- Measurement models' parameters -->
    <arg name="z_hit" default="0.9" />
    <arg name="z_short" default="0.2" />
    <arg name="z_max" default="0.05" />
    <arg name="z_rand" default="0.05" />
    <arg name="var_hit" default="0.08" />
    <arg name="lambda_short" default="1.0" />
    <arg name="lambda_unknown" default="0.01" />

    <arg name="known_class_prior" default="0.5" />
    <arg name="resample_threshold_ess" default="0.5" />
    <arg name="estimate_reliability" default="false" />
    <arg name="classifier_type" default="0" />

    <!-- MAE classifier settings -->
    <arg name="mae_classifier_dir" default="$(find als_ros)/classifiers/MAE/" />
    <arg name="mae_max_residual_error" default="0.5" />
    <arg name="mae_histogram_bin_width" default="0.05" />

    <!-- GL Pose Sampler Settings -->
    <arg name="use_gl_pose_sampler" default="false" />
    <arg name="fuse_gl_pose_sampler_only_unreliable" default="false" />
    <arg name="gl_sampled_pose_time_th" default="1.0" />
    <arg name="gmm_positional_variance" default="0.01" />
    <arg name="gmm_angular_variance" default="0.01" />
    <arg name="pred_dist_unif_rate" default="0.05" />

    <!-- MRF Failure Detector -->
    <arg name="use_mrf_failure_detector" default="false" />

    <!-- Write pose settings -->
    <arg name="write_pose" default="true" />
    <arg name="pose_log_file" default="/tmp/als_ros_pose.txt" />

    <!-- Localization Hz and transform tolerance -->
    <arg name="localization_hz" default="10.0" />
    <arg name="transform_tolerance" default="0.0" />

    <!-- Random particles for resampling -->
    <rosparam param="/$(arg node_name)/random_particles_noise" > [0.05, 0.05, 0.1] </rosparam >
    <rosparam param="/$(arg node_name)/odom_noise_ddm" > [1.0, 0.5, 0.5, 1.5] </rosparam >
    <rosparam param="/$(arg node_name)/odom_noise_odm" > [4.0, 1.0, 1.0, 1.0, 4.0, 1.0, 1.0, 1.0, 8.0] </rosparam >

    <rosparam param="/$(arg node_name)/rel_trans_ddm" > [0.0, 0.0] </rosparam >
    <rosparam param="/$(arg node_name)/rel_trans_odm" > [0.0, 0.0, 0.0] </rosparam >

    <rosparam param="/$(arg node_name)/resample_thresholds" > [0.2, 0.2, 0.2, 0.02, -99999.0] </rosparam >

    <!-- Include other launch files -->
    <!-- GL Pose Sampler -->
    <include file="$(find als_ros)/launch/gl_pose_sampler.launch" if="$(arg use_gl_pose_sampler)">
        <arg name="map_name" value="$(arg map_name)" />
        <arg name="scan_name" value="$(arg scan_name)" />
        <arg name="odom_name" value="$(arg odom_name)" />
        <arg name="poses_name" value="$(arg gl_sampled_poses_name)" />
        <arg name="local_map_name" value="$(arg local_map_name)" />
        <arg name="sdf_keypoints_name" value="$(arg sdf_keypoints_name)" />
        <arg name="local_sdf_keypoints_name" value="$(arg local_sdf_keypoints_name)" />
        <arg name="map_frame" value="$(arg map_frame)" />
        <arg name="odom_frame" value="$(arg odom_frame)" />
        <arg name="base_link_frame" value="$(arg base_link_frame)" />
        <arg name="laser_frame" value="$(arg laser_frame)" />
    </include>

    <!-- MRF Failure Detector -->
    <include file="$(find als_ros)/launch/mrf_failure_detector.launch" if="$(arg use_mrf_failure_detector)">
        <arg name="residual_errors_name" value="$(arg residual_errors_name)" />
        <arg name="marker_frame" value="$(arg base_link_frame)" />
    </include>

    <!-- MCL node -->
    <node name="$(arg node_name)" pkg="als_ros" type="mcl" output="screen">
        <param name="measurement_model_type" value="$(arg measurement_model_type)" type="int" />
        <param name="scan_name" value="$(arg scan_name)" type="string" />
        <param name="odom_name" value="$(arg odom_name)" type="string" />
        <param name="map_name" value="$(arg map_name)" type="string" />
        <param name="pose_name" value="$(arg pose_name)" type="string" />
        <param name="particles_name" value="$(arg particles_name)" type="string" />
        <param name="unknown_scan_name" value="$(arg unknown_scan_name)" type="string" />
        <param name="residual_errors_name" value="$(arg residual_errors_name)" type="string" />
        <param name="gl_sampled_poses_name" value="$(arg gl_sampled_poses_name)" type="string" />
        <param name="reliability_marker_name" value="$(arg reliability_marker_name)" type="string" />

        <param name="laser_frame" value="$(arg laser_frame)" type="string" />
        <param name="base_link_frame" value="$(arg base_link_frame)" type="string" />
        <param name="map_frame" value="$(arg map_frame)" type="string" />
        <param name="odom_frame" value="$(arg odom_frame)" type="string" />
    </node>
</launch>
